h1{
    color: #6757d9;
    margin-bottom: 50px;
    font-size: 2.5rem;
}
.container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 20px;
}
a{
    background-color: #fff;
    padding: 20px 40px;
    margin-bottom: 30px;
    color: #6757d9;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 20px;
    transition: all ease-in 0.2s;
}
a:hover{
    background-color: #6757d9;
    color: #fff;
}